.sony {
    height: 50px;
    background-color: black;
}
.logo {
    width: 100px;
    flex-grow: 1;
}
.strong {
    color: black;
    font-weight: bold;
}
.logo-sony {
    margin-top: 10px;
}
.search {
    font-size: 25px;
}
.p-horizontal {
    padding: 0 15px;
}
.p-vertical {
    padding: 15px 0;
}
.p-jumbo {
    padding-top: 350px;
}
.radius {
    border-radius: 20px;
    border-color: grey;
    color: grey;
}
.radius:hover {
    background-color: grey;
    border-color: grey;
}
.jumbotron {
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.logo-jumbo {
    width: 300px;
}
.jumbo-content {
    color: white;
}
.buy {
    color: white;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.buy:hover {
    background-color: lightcoral;
    border-color: lightcoral;
}
.box {
    width: 150px;
    border-radius: 20px;
}