.sony {
    height: 50px;
    background-color: black;
}
.logo {
    width: 100px;
    flex-grow: 1;
}
.strong {
    color: black;
    font-weight: bold;
}
.logo-sony {
    margin-top: 10px;
}
.follow {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1001;
}
.search {
    font-size: 25px;
}
.p-horizontal {
    padding: 0 15px;
}
.p-vertical {
    padding: 15px 0;
}
.p-vertical-big {
    padding: 100px 0;
}
.p-jumbo {
    padding-top: 350px;
}
.p-jumbo-2 {
    padding-top: 350px;
}
.radius {
    border-radius: 20px;
    border-color: grey;
    color: grey;
}
.radius:hover {
    background-color: grey;
    border-color: grey;
}
.jumbotron {
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.logo-jumbo {
    width: 300px;
}
.jumbo-content {
    color: white;
}
.buy {
    color: white;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.buy:hover {
    background-color: lightcoral;
    border-color: lightcoral;
}
.box {
    width: 150px;
    border-radius: 20px;
}
.box-border {
    border: 2px solid white;
    width: 154px;
    border-radius: 20px;
}
.box-border:hover {
    border: 2px solid #2D64E6;
    border-radius: 20px;
}
.no-limits {
    color: #2D64E6;
    font-weight: bold;
}
.h1-description {
    color: lightslategray;
    font-weight: bold;
}
.blue {
    background-color: #2D64E6;
    border: #2D64E6;
}
.blue:hover {
    background-color: lightgrey;
    border: lightgrey;
}
.resize {
    height: 800px;
}
.gadget-box {
    width: 120px;
}
.box-border-bottom {
    border-bottom: 2px solid white;
    width: 120px;
    opacity: 0.5;
}
.box-border-bottom:hover {
    border-bottom: 2px solid #2D64E6;
    width: 120px;
    opacity: initial;
}
.jumbotron-2 {
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.list-of-games {
    background-color: #1F1F1F;
}
.available-box {
    width: 150px;
    border-radius: 20px;
}
.box-available-border {
    border: 2px solid white;
    width: 154px;
    border-radius: 20px;
    margin-top: 40px;
}
.box-available-border:hover {
    border: 2px solid #2D64E6;
    border-radius: 20px;
}




@media all and (min-width: 576px) {
    .p-jumbo-2 {
        padding: 0 0;
    }
    .resize {
        height: 400px;
    }
}
@media all and (min-width: 900px) {
    .p-jumbo-2 {
        padding-top: 350px;
    }
    .resize {
        height: 800px;
    }
}